<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression suite">
  <listeners>
    <listener class-name="utils.RetryListenerClass"/>
  </listeners>
  <method-selectors>
  <method-selector>
    <script language="beanshell">
      <![CDATA[System.setProperty("testng.metrics.logo",
             "https://www.3i-infotech.com/wp-content/uploads/2021/04/3I-infotech-logo.png");return true;]]>
    </script>
  </method-selector>
  </method-selectors>
  <test thread-count="5" name="test">
  </test> <!-- test -->
</suite> <!-- Regression suite -->
